.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signinModal {
  position: fixed;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 50rem;

  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 2rem;
}

.closeIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  width: 1.6rem;
  height: 1.6rem;
}

.signinForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 2rem;
}

.signinTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.signinInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 1rem;
}
.signinInput {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}
.signinLabel {
  font-size: 1.6rem;
  font-weight: bold;
}

.signinButton {
  width: 100%;
  padding: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  cursor: pointer;
}
.signinFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.signinFooterText {
  font-size: 1.4rem;
  color: #666;
}
.signinFooterButton {
  font-size: 1.4rem;
  color: #c0c0c0;
  cursor: pointer;
  text-decoration: underline;
}
