.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  width: 100%;
  gap: 2rem;
}
.term {
  font-size: 3.2rem;
  font-weight: 600;
  color: #000;
  background-color: #fff;
}
