*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Pretendard';
  cursor: default;
  overflow-x: auto;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}
:root {
  --color-blue: #0056f6;
  --color-white: #ffffff;
  --color-black: #121212;
  --color-gray: #e0e0e0;
  --color-skyblue: #e0ebff;
  --color-lightblue: #f2f5fc;
  --color-lightgray: #cacaca;
  --color-dddgray: #ddd;
  --color-red: #ff5858;
}
